
/* b2e914 */
body{
    background-color: black !important;
    color: #fff !important;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.home>nav>{
    border-bottom: 1px solid #fff !important;
}
.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
input,textarea{
    width:100%;
    padding: 10px 3px;
    margin-top: 10px;
    border:2px solid #b2e914 !important;
}
button{
    padding: 10px;
    cursor: pointer;
    border-radius: 8px;
    border: none;
}
input,textarea:focus{
    outline: none;
}
.card{
    background-color: white;
    width:300px;
    height: 200px;
    border-radius: 10px;
    padding: 8px;
    margin: 10px 20px;
    border:2px solid #b2e914 !important;
}
#tasks{
    color:black !important;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;

}
.delete-btn{
    background-color: black !important;
    color:#fff;
}

.btn-primary{
    border-radius: 20px !important;
    background-color:#b2e914 !important;
    color: #000 !important;
    border: none !important;
    text-decoration: none;
}
.fs-10{
    font-size: 70px;
}

.more{
    width: 100%;
    background-color: #b2e914;
    border-radius: 20px;
}

.info-card{
    background-color: #000;
    color: #fff;
    border-radius: 12px;
    padding: 10px;
}
.nav-underline .nav-link.active{
    color: #b2e914 !important;
}
.navbar-toggler-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    /* vertical-align: end !important; */
    background-image: url(assets/menu-bar.svg)!important;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    /* background-color: #b2e914 !important; */
}
.about-main{
    background-color: #b2e914;
    /* height: 300px !important; */
    width: 100% !important;
    border-radius: 20px;
    padding: 10px;
    color: #000 !important;
}
.logo-img{
    width: 48px;
    height: 48px;
    object-fit: contain;
}
.abt-logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}
