
/* b2e914 */
body{
    background-color: black !important;
    color: #fff !important;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.home>nav>{
    border-bottom: 1px solid #fff !important;
}
.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
input,textarea{
    width:100%;
    padding: 10px 3px;
    margin-top: 10px;
}
button{
    padding: 10px;
    cursor: pointer;
    border-radius: 8px;
    border: none;
}
input,textarea:focus{
    
    outline: none;
}
.card{
    background-color: white;
    width:300px;
    height: 200px;
    border-radius: 10px;
    padding: 8px;
    margin: 10px 20px;
}
#tasks{
    color:black !important;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;

}
.delete-btn{
    background-color: black !important;
    color:#fff;
}
.add-task{
    display: flex;
    /* flex-wrap: wrap; */
    /* width: 100%; */
    justify-content: center;
    align-items: center;
}